<!DOCTYPE html>
<html>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<body>
	<form novalidate name="addBook">
		<section>
			<p>Title:</p>			
			<input ng-required="true" type="text" ng-model="title">
			<span ng-show="addBook.$invalid && addBook.$submitted">Tytul jest wymagany!</span>
			<br><br>
			<p>Author list:</p>
			<table>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Delete</th>
				</tr>
				<tr ng-repeat="author in authors">
					<td>{{ author.firstName }}</td>
					<td>{{ author.lastName }}</td>
					<td><button ng-click="deleteAuthor(author.id)">Usuń</button></td>
				</tr>
			</table>
			<br>
			<button ng-click="addAuthor()">Add author</button>
			<br> <br>
			<button type="submit" ng-click="addNewBook()">Add book</button>

		</section>
	</form>
</body>
</html>