<div>
	<form novalidate name="addAuthor">
		<div class="modal-header">
			<h3 class="modal-title">Formularz dodawania autora</h3>
		</div>
		<div class="modal-body">
			<p>First name:</p><input ng-required="true" type='text' ng-model='firstName'	placeholder='Jan' required/>
			<span ng-show="addAuthor.$invalid && addAuthor.$submitted">Imie jest wymagane!</span>
			<br><br>
			<p>Last name:</p><input ng-required="true" type='text' ng-model='lastName' placeholder='Kowalski' required />
			<span ng-show="addAuthor.$invalid && addAuthor.$submitted">Nazwisko jest wymagane!</span>
		</div>
		<div class="modal-footer">			
			<button type="submit" class="btn btn-success" ng-click="add()"  >Add</button>
			<button class="btn btn-warning" ng-click="cancel()">Close</button>
		</div>
	</form>
</div>